In [81]:
# imported the requests library 
import requests 
import os
import random
import zipfile
from urllib.request import urlopen
import copy
import pandas as pd
import re
from bs4 import BeautifulSoup

In [ ]:
print("Give your address where you want the service ")
location =input().lower()

Give your address where you want the service

In [73]:
print("Service you want ?")
service = input().lower()
text_user = service + " in " + location

Service you want ?
restaurants

In [74]:

def insertChar(mystring, position, chartoinsert):
    longi = len(mystring)
    mystring   =  mystring[:position] + chartoinsert + mystring[position:] 
    return mystring 

r=requests.get("https://www.google.com/search?q=" + text_user + "&rlz=1C1CHBF_enIN754IN754&aqs=chrome.1.69i57j0l7.5704j0j7&sourceid=chrome&ie=UTF-8")
soup=BeautifulSoup(r.content,features="lxml")

In [75]:
a = []
for link in soup.find_all("div", {"class": "am3QBf"}):
    a.append(link)

b = []
for i in a:
    b.append(i.find_all("span"))

In [76]:
# a = []
# for link in soup.find_all("span"):
#     a.append(link)

In [77]:
def preprocess(str1):
    return re.sub('<[^<]+?>', '', str1)

In [78]:
# 0 : Name
# 1: Address
# 2: Rated 
# 3: Real user rate

df = pd.DataFrame(columns=('Name', 'Address', 'Rating'))
rows = []
for i in range(1,len(b)):
    temp = []
    try:
        temp.append(preprocess(str(b[i][0])))
    except:
        temp.append("")
    try:
        temp.append(preprocess(str(b[i][1])).split("·")[1])
    except:
        temp.append("")
#     print(preprocess(str(b[i][2])))
    try:
        temp.append(preprocess(str(b[i][3])))
    except:
        temp.append("")
    rows.append(temp)

In [79]:
for row in rows:
    df.loc[len(df)] = row

In [80]:
df

,Name,Address,Rating
0,Rajwadu,₹₹₹Gujarati,4.4
1,Malhar Apartment,"Malhar Apartment, behind Vasna Telephone Exch...",5.0
2,restaurants in ahmedabad,,
3,zomato gold restaurants in ahmedabad,,
4,restaurants on zomato,,
5,restaurants nearby,,
6,zomato new restaurants,,
7,365 restaurant ahmedabad sg highway menu,,
8,zomato justdial ahmedabad,,
9,zomato gujarat,,